@import "../../shared/variables.scss";

.ColorPalette {
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.12);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $colorsListPaddingY $colorsListPaddingX $colorsListPaddingY;
  }

  &__item {
    box-sizing: border-box;
    width: 100%;

    &:not(:first-child) {
      margin-top: $colorsInterval;
    }
  }
}
