@import "../../styles/variables";
@import "../../styles/mixins";

.loader {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
  margin: 15px 0;

  &__circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: $colorLoaderCircle;
    left: 15%;
    @include prefixes;
    -webkit-animation: circle 0.5s alternate infinite ease;
    animation: circle 0.5s alternate infinite ease;
    &:nth-child(2) {
      left: 45%;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      left: auto;
      right: 15%;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }

  &__shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: $colorLoaderShadow;
    position: absolute;
    top: 62px;
    @include prefixes;
    z-index: -1;
    left: 15%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-animation: shadow 0.5s alternate infinite ease;
    animation: shadow 0.5s alternate infinite ease;
    &:nth-child(4) {
      left: 45%;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(5) {
      left: auto;
      right: 15%;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }

  &__line {
    width: 250px;
    border: 0.5px solid $colorPrimary;
    border-radius: 5px;
    margin: 0;
  }
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    -webkit-transform: scaleX(1.7);
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
  40% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scaleX(0.2);
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
