@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: $colorBtnFont;
  z-index: 1;

  &::after {
    @include absolutelyPositionedTransition;
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: $colorBtnBlur;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }

  &::before {
    @include absolutelyPositionedTransition;
    @include fullScreenTransform;
    background: $colorBtnBg;
    border-radius: 10px;
  }

  &:hover {
    &::before {
      -webkit-transform: translate(5%, 20%);
      -ms-transform: translate(5%, 20%);
      transform: translate(5%, 20%);
      width: 110%;
      height: 110%;
    }

    &::after {
      border-radius: 10px;
      @include fullScreenTransform;
    }
  }

  &:active {
    &::after {
      -webkit-transition: 0s;
      transition: 0s;
      -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
      transform: translate(0, 5%);
    }
  }
}
