.actions {
  display: flex;
  gap: 5px;

  &__button {
    width: 140px;
    padding: 6px;
    border-radius: 15px;
    border: 0;
    outline: none;
    background-color: #f8d784;

    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
    font-weight: bold;

    &--reset {
      background-color: #f4872d;
    }
  }
}
