.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 120px;

    border: 1px solid #000;
    border-radius: 8px;
  }
}
