$colorPrimary: #333;
$colorLoaderCircle: #fff;
$colorBtnFont: #8d8d8d;
$colorBg: #858585;
$colorBtnBlur: #ffffff15;
$colorBtnBg: #28282d;
$colorErrorFont: darkred;
$colorLoaderShadow: rgba(0,0,0,0.9);

$fontFamily: roboto, sans-serif;
