.list {
  list-style-type: "🌟";
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.17);
  background: rgba(255, 255, 255, 0.35);
  border-radius: 6px;
}

.list__item {
  text-align: left;
  padding: 6px 14px;
}
