.App__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
  list-style: none;
  padding: 0;

  &-item {
    list-style: none;
    padding: 10px 30px;
    background: linear-gradient(to left, #7bf5e0 0%, white, #7bf5e0);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
  }
}
