html {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7532b4b0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.app {
  align-items: center;

  &__title {
    text-align: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &__button {
      font-weight: 500;
      margin-right: 6px;
      margin-bottom: 8px;
      height: 35px;
      border-radius: 6px;
      transition-duration: 0.4s;

      &:hover {
        background-color: #4caf50;
        color: white;
      }
    }
  }
}
