.container {
  font-family: Arial, Helvetica, sans-serif;

  &__title {
    color: #165be5;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  color: #fff;
  background-color: #165be5;

  width: 50px;
  height: 20px;

  border-radius: 5px;
  border: none;
}
