.good {
  &--red {
    color: red;
  }

  &--green {
    color: green;
  }

  &--blue {
    color: blue;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;

  width: 200px;
  height: 50px;

  color: #d8000c;
  background-color: #faadad;
}

.spinner {
  display: block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #a7a7a7;
  border-color: #a7a7a7 transparent #a7a7a7 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
