.App {
  text-align: center;
}

.goods {
  display: flex;
  justify-content: space-between;

  width: 500px;
  margin: 20px auto;

  &__button {
      display: flex;
      flex-direction: column;
  }
}

.button {
  margin-bottom: 10px;
}