.App {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    30deg, rgba(254, 254, 254, 0.4), rgba(243, 243, 243, 0.72));

  &__title {
    padding-top: 24px;
    animation: fadeIn 0.8s;
  }

  &__notification {
    box-shadow: 0 12px 12px rgba(0, 0, 255, 0.2);
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(49, 49, 49, 1);
  animation: fadeIn 1.6s;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: rgba(49, 49, 49, 1);
    box-shadow: 0 12px 12px rgba(49, 49, 49, 0.3);
  }

  &__button {
    width: 180px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 2.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  animation: fadeIn 2s;
  transition: all 0.2s ease-in-out;

  &__goods {
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 300px;
    padding: 16px;
    transition: all 0.5s ease-in-out;

    &:hover {
      border-color: rgba(49, 49, 49, 1);
      box-shadow: 0 12px 12px rgba(0, 0, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media (min-width: 640px) {
  .options {
    flex-direction: row;
    gap: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
