.goods-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  max-width: 420px;
  list-style: none;
  border: 1px solid grey;
}

.goods-list__item {
  padding: 4px 0;
  border: 1px solid grey;
  width: 420px;
  text-align: center;
}

.goods-list__button {
  padding: 8px;
  margin-right: 18px;
  cursor: pointer;
}
