body {
  margin: 0;
  background-color: rgba(249, 252, 63, 0.1);
}

body * {
  outline: none;
}

.goods {
  width: 50%;
  text-align: center;
  margin: 30px auto;
  border: 3px solid grey;
  border-radius: 20px;
}

.goods__list {
  list-style-type: none;
  padding: 0;
}

.goods__button {
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(249, 252, 63, 0.1);
  transition: background-color 1s;
}

.goods__button:first-of-type {
  margin-left: 0;
}

.goods__button--clicked {
  visibility: hidden;
}

.goods__button:hover {
  cursor: pointer;
  background-color: rgba(249, 252, 63, 0.5);
}

.goods__item--red {
  color: red;
}

.goods__item--green {
  color: green;
}

.goods__item--blue {
  color: blue;
}

hr {
  background-color: yellow;
  color: yellow;
  border: none;
  height: 1px;
}
