.App {
  text-align: center;
  &__button {
    padding: 20px;
    margin: 0 3px;
    font-weight: bold;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgb(40, 39, 102);
      color: #f3f0f1;
    }
  }
}

.GoodsList {
  text-align: center;
  list-style: none;
  font-family: cursive;
  font-size: 25px;
}
