// styles go here
iframe {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
}

