.App {

  &__button {
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #0075ff;
    color: #fff;
    border: none;    
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #1900ff;
    }
  }
}
