.list-of-goods {
  width: 400px;
  margin-bottom: $margin10;

  &__item {
    transition: transform 0.3s linear;
    background-color: rgba(255, 255, 255, 0.7);

    &:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.85);
      border: 1px solid grey;
      z-index: 1;
    }
  }
}
